* {
	font-size: 16px;
	
	color: $basic-dk;
}

@font-face {
	font-family: Ebrima;
	src: url('../typo/ebrima.ttf') format('truetype');
}

@font-face {
	font-family: "Ebrima Bold";
	src: url('../typo/ebrimabd.ttf') format('truetype');
}

@font-face {
	font-family: "Myriad CondIt";
	src: url('../typo/MyriadPro-CondIt.otf') format('opentype');
}

h2, p {
	font-family: Ebrima, sans-serif;
}

h1, h3 {
	font-family: "Ebrima Bold", sans-serif;
}