* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.wrapper {
	padding: 1rem;
	color: #171f3e;
	background-color: #dbf7fe;

}

.header {
	text-align: center;
}

h1 {
	font-family: sans-serif;
}

.main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.add_comment {
	width: 100%;
	text-align: center;
}

.add_comment, .comment_item {
	background-clip: padding-box;
	background-color: rgba(255, 255, 255, 0.8);
	border: solid 10px rgba(0, 0, 0, 0.2);
}

.add_form {
	display: flex;
	flex-flow: column nowrap;
	padding: 2rem;
}

.add_form label {
	margin: 0.5rem 0;
	font-size: 0.9rem;
}

.add_form input {
	margin: 0.5rem;
}

.edit_form {
	display: flex;
	flex-flow: column nowrap;
}

.edit_form label {
	margin: 0.5rem 0;
}

.edit_form input {
	margin: 0.5rem;
}

input, textarea {
	border: solid 2px #66ceeb;
	padding: 0.5rem;
}

label {
	font-size: 0.9rem;
}

button {
	margin: 1rem;
	padding: 0.5rem;
}

button[type="reset"] {
	background-color: #fff;
	color: #171f3e;
	border: solid 1px #bbbcc1;
}

button[type="submit"] {
	background-color: #171f3e;
	color: #66ceeb;
	font-weight: bold;
	border: solid 1px #66ceeb;
}

.comment_list {
	padding: 0;
}

.comment_item {
	width: 90%;
	padding: 1rem;
	margin: 0 1rem 2rem;
	list-style-type: none;
	position: relative;
	z-index: 0;
}
.comment_item--id {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 1rem;
	font-size: 5rem;
	z-index: -1;
	opacity: 0.2;
}

.comment_item--email {
	font-size: 0.8rem;
}

.comment_item--id, .comment_item--name {
	font-weight: bold;
}

.edit, .remove {
	font-weight: bold;
	background-color: transparent;
	border: solid 2px #66ceeb;
}

.pagination {
	display: flex;
	flex-flow: row wrap;
}

.page {
	display: block;
	margin: 0.5rem;
	padding: 0 0.5rem;
	color: #171f3e;
	border: solid 1px #171f3e;
	font-weight: bold;
	font-size: 0.8rem;
}

.page:hover {
	cursor: pointer;
}

.limit_input {
	width: 5rem;
}