<footer>
	<div class="container-fluid footer">
		<div class="container" id="footer">
			<div class="col-xs-12">
				<p class="footer_text">Copyright &copy; Essembli. All Rights Reserved 2016.</p> 
			</div>
		</div>
	</div>
</footer>