<header>
	<div class="row navigation">
		@@include('navi.html')
	</div>
	<div class="row header">
		<div class="logo col-xs-12 col-md-2">
			<figure class="logo_container">
				<img src="img/essembli_logo1-01.png" alt="Essembli" class="logo_image">
			</figure>
			<div class="arrow_container">
		        <span class="arrow_button"><img src="img/icons/arrow-down.png" alt="" class="arrow_icon"></span>
			</div>
		</div>
		<div class=" col-xs-12 col-md-10 slider">
			<figure class="slider_container">
				<img src="img/header/01.jpg" alt="" class="slider_item">
				<img src="img/header/02.jpg" alt="" class="slider_item">
				<img src="img/header/03.jpg" alt="" class="slider_item">
				<img src="img/header/01.jpg" alt="" class="slider_item">
			</figure>
			<div class="slider_text">
				<h2 class="slider_desc">Niemożliwe to nie fakt.<br>
				To jedynie opinia.<br>
				 Niemożliwe to nie deklaracja.<br>
				 To wyzwanie.</h2>
				<h1 class="slider_heading">Dla nas niemożliwe to <span class="slider_heading--accent">potencjał możliwości</span>.</h1>
			</div>
		</div>
	</div>
</header>