<main>
	<div class="main container-fluid">
		@@include('content/about.html')
		@@include('content/team.html')
		@@include('content/comp.html')
		@@include('content/manag.html')
		@@include('content/career.html')
		@@include('content/contact.html')
	</div>
</main>