<nav>
	<div class="col-xs-2 navigation_logo">
		<img src="img/essembli_logo2-01.png" class="logo_img" alt="Essembli">
	</div>
	<ul class="col-xs-10 col-lg-7 col-lg-offset-3 navigation_menu">
		<li class="navigation_item"><a href="#about" class="navigation_link">O nas</a></li>
		<li class="navigation_item"><a href="#team" class="navigation_link">Zespół</a></li>
		<li class="navigation_item"><a href="#comp" class="navigation_link">Kompetencje</a></li>
		<li class="navigation_item"><a href="#management" class="navigation_link">Zarząd</a></li>
		<li class="navigation_item"><a href="#career" class="navigation_link">Kariera</a></li>
		<li class="navigation_item"><a href="#contact" class="navigation_link">Kontakt</a></li>
		<li class="navigation_item"><a href="#" class="navigation_link--lang">PL</a></li>
		<li class="navigation_item"><a href="#" class="navigation_link--lang">ENG</a></li>
	</ul>
</nav>