<section>
	<div class="container">
		<div class="row about" id="about">
			<ul class="col-xs-1 pager">
				<li class="pager_item ac">1</li>
				<li class="pager_item"></li>
				<li class="pager_item"></li>
				<li class="pager_item"></li>
				<li class="pager_item"></li>
				<li class="pager_item"></li>
			</ul>
			<div class="col-xs-11 col-md-3 about_heading">
				<h3 class="heading_text">Kim Jesteśmy?</h3>
			</div>
			<div class="col-xs-12 col-md-8 titles_container">
				<div class="row">
					<div class="col-xs-6 tile_container--img">
						<img src="img/section_about/01.jpg" alt="" class="tile_img">
					</div>
					<div class="col-xs-6 tile_container--text">
						<p class="tile_text">Firmę założyli byli pracownicy Infovide-Matrix SA, która była spółką giełdową notowaną na GPW zanim została przejęta przez Asseco S.A.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 tile_container--text">
						<p class="tile_text">Firma specjalizuje się głównie w projektowaniu i wdrożeniach rozwiązań billingowych w oparciu o produkty firmy Oracle tj. Oracle CC&amp;B oraz Oracle MDM</p>
					</div>
					<div class="col-xs-6 tile_container--img">
					<img src="img/section_about/02.jpg" alt="" class="tile_img">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-7 col-md-offset-1 tile_container--img no-offset">
				<img src="img/section_about/03.jpg" alt="" class="tile_img">
			</div>
			<div class="col-xs-6 col-md-4 tile_container--text">
				<p class="tile_text">Naszą mocną stroną jest również szeroka znajomość szeroko pojętej technologii: w tym baz danych, integracji, programowania oraz infrastruktury</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-7 col-md-offset-1 tile_container--text no-offset">
				<p class="tile_text col-xs-12 col-md-6 col-md-offset-3">Nasi analitycy posiadają rozległą wiedzę branżową, z zakresu legislacji, regulacji rynku przez URE, unbundlingu</p>
			</div>
			<div class="col-xs-6 col-md-4 tile_container--img">
				<img src="img/section_about/04.jpg" alt="" class="tile_img">
			</div>
		</div>
		<div class="row about_note">
			<div class="col-xs-12 col-md-offset-1">
				<div class="row note_container">
					<div class="col-xs-2 col-md-1 col-md-offset-2 col-lg-offset-2 note_icon">
						<img src="img/icons/bulb.png" alt="">
					</div>
					<div class="col-xs-10 col-md-8 col-lg-6">
						<p class="note_text">Wszyscy pracownicy posiadają <span class="note_text--strong">doświadczenie</span> w branży energetycznej, poprzez uczestnictwo w wielu projektach dla polskich koncernów energetycznych oraz PGNiG. Zespół liczy <span class="note_text--strong">75 osób</span>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>