<section>
	<div class="container-fluid career" id="career">
		<div class="row career_container">
			<div class="col-xs-6 col-md-8 career_headings">
				<div class="row">
					<div class="col-xs-1 col-xs-offset-1 pager">
					<ul class="col-xs-12 pager">
						<li class="pager_item"></li>
						<li class="pager_item"></li>
						<li class="pager_item"></li>
						<li class="pager_item"></li>
						<li class="pager_item ac">5</li>
						<li class="pager_item"></li>
					</ul>
					</div>
					<div class="col-xs-9 col-xs-offset-1">
						<div class="row">
							<h3 class="heading_text">Kariera</h3>
						</div>
						<div class="row midheading">
							<h4 class="midheading_text">Lorem ipsum dolor sit?</h4>
							<p class="midheading_desc">Consectetur adipiscing elit, sed do eiusmod tempor.</p>
						</div>
					</div>
				</div>
			</div>
			<figure class="col-xs-6 col-md-4 career_img">
				<img src="img/section_career/01.jpg" alt="">
				<figcaption class="career_desc">
					<h4 class="career_text--name">Programista Java</h4>
					<p class="career_text">Consectetur adipiscing elit, sed do eiusmod tempor.</p>
				</figcaption>
			</figure>
		</div>
		<div class="row requirements">
			<div class="row">
				<div class="col-xs-9 col-xs-offset-3">
					<h4 class="requirements_heading">Wymagania</h4>
				</div>
			</div>
			<div class="row">
				<ul class="col-xs-3 col-xs-offset-3 requirements_list">
					<li class="requirements_item">Java</li>
					<li class="requirements_item">Oracle Utilities</li>
					<li class="requirements_item">MDM</li>
					<li class="requirements_item">Bazy danych</li>
					<li class="requirements_item">Kreatywność</li>
					<li class="requirements_item">Dbałość o detale</li>
					<li class="requirements_item">Terminowość</li>
				</ul>
				<div class="col-xs-6 requirements_navi">
					<span class="comments_prev inac"><img src="img/icons/arrow-ac.png" alt="poprzedni"></span><span class="comments_next"><img src="img/icons/arrow-ac.png" alt="następny"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-6 requirements_apply">
					<button class="requirements_action">Aplikuj</button>
				</div>
			</div>
		</div>
	</div>
</section>