<section>
	<div class="container comp" id="comp">
		<div class="row">
			<div class="col-xs-1 pager">
				<ul class="col-xs-1 pager">
					<li class="pager_item"></li>
					<li class="pager_item"></li>
					<li class="pager_item ac">3</li>
					<li class="pager_item"></li>
					<li class="pager_item"></li>
					<li class="pager_item"></li>
				</ul>
			</div>
			<div class="col-xs-11 col-md-3 comp_heading">
				<div class="row">
					<h3 class="heading_text">Kompetencje</h3>
				</div>
				<div class="row heading_img">
					<img src="img/icons/comp.png" alt="">
				</div>
			</div>
			<div class="col-xs-11 col-xs-offset-1 col-md-8 col-md-offset-0">
				<div class="row">
					<ul class="col-xs-10 col-xs-offset-2 comp_list">
						<li class="comp_item">Aplikacje</li>
						<li class="comp_item">Oracle Utilities</li>
						<li class="comp_item">MDM</li>
						<li class="comp_item">Bazy danych</li>
						<li class="comp_item">Serwery aplikacji</li>
						<li class="comp_item">IBM WebSphere</li>
						<li class="comp_item">HP ALM</li>
						<li class="comp_item">Redmine</li>
						<li class="comp_item">GIT/SVN/Mercurial</li>
						<li class="comp_item">Technologie</li>
						<li class="comp_item">UNIX/Linux</li>
						<li class="comp_item">Java/J2EE</li>
						<li class="comp_item">Groovy</li>
						<li class="comp_item">Perl</li>
						<li class="comp_item">Python</li>
						<li class="comp_item">Metodyka</li>
						<li class="comp_item">Prince</li>
						<li class="comp_item">Design</li>
						<li class="comp_item">OMG UML</li>
						<li class="comp_item">Sparx Enterprise Architect</li>
						<li class="comp_item">Software AG Aris</li>
						<li class="comp_item">Testy</li>
						<li class="comp_item">Test Management Tools</li>
						<li class="comp_item">Apache Jmeter</li>
						<li class="comp_item">Testing Automation</li>
						<li class="comp_item">Agile/Scrum</li>
						<li class="comp_item">Metodyki specyficzne dla wdrożeń billingowych (OUM-Implement)</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row comments">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-8 comments_navi">
					<span class="comments_prev inac"><img src="img/icons/arrow-ac.png" alt="poprzedni"></span><span class="comments_next"><img src="img/icons/arrow-ac.png" alt="następny"></span>
				</div>
			</div>
			<div class="row comments_container">
				<div class="col-xs-4 col-xs-offset-1 comments_container--logo">
					<img src="img/icons/logo.png" class="comments_logo">
				</div>
				<div class="col-xs-6 comments_container--text">
					<div class="comments_body">
						<p class="comments_text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br></p>
						<p class="comments_text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div>
						<p class="comments_more">czytaj więcej</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>