<section>
	<div class="container-fluid">
		<div class="row contact" id="contact">
			<div class="col-xs-12 col-md-4">
				<div class="row">
					<div class="col-xs-1 col-md-1 col-md-offset-4 pager">
						<ul class="col-xs-12 pager">
							<li class="pager_item"></li>
							<li class="pager_item"></li>
							<li class="pager_item"></li>
							<li class="pager_item"></li>
							<li class="pager_item"></li>
							<li class="pager_item ac">6</li>
						</ul>
					</div>
					<div class="col-xs-11 col-md-6 col-md-offset-1 contact_data">
						<div class="row">
							<h3 class="heading_text">Kontakt</h3>
						</div>
						<div class="row data">
							<h4 class="data_name">Essembli Sp. z o.o.</h4>
							<p class="data_text">Aleje Jerozolimskie 162A<br>
							02-342 Warszawa</p>
							<p class="data_text">KRS 0000596941<br>
							NIP 5223051497</p>
						</div>
						<div class="row contact_logo">
							<img src="img/essembli_logo3-01.png" alt="Essembli">
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-3 contact_form">
				<form name="contact" method="post" action="" class="form">
					<label for="name" class="sr-only">Imię i nazwisko</label><input type="text" name="name" max="30" min="8" id="name" class="form_input--text" placeholder="Imię i nazwisko" required>
					<label for="email" class="sr-only">Adres email</label><input type="email" name="email" max="30" min="8" id="email" class="form_input--text" placeholder="Adres email" required>
					<label for="subject" class="sr-only">Temat</label><input type="text" name="subject" max="30" min="5" id="subject" class="form_input--text" placeholder="Temat" required>
					<label for="content" class="sr-only">Treść</label><textarea name="content" id="content" placeholder="Treść" minlength="10" maxlength="100" class=" form_input--textar" rows="8" required></textarea>
					<button type="submit" id="submit" class="form_input--submit">Wyślij</button>
				</form>
			</div>
			<div class="col-xs-9 col-md-8 map">
				<img src="img/section_contact/map.png" alt="mapa">
			</div>
		</div>
	</div>
</section>