<section>
	<div class="container management" id="management">
		<div class="row">
			<div class="col-xs-1 pager">
			<ul class="col-xs-1 pager">
				<li class="pager_item"></li>
				<li class="pager_item"></li>
				<li class="pager_item"></li>
				<li class="pager_item ac">4</li>
				<li class="pager_item"></li>
				<li class="pager_item"></li>
			</ul>
			</div>
			<div class="col-xs-11 management_heading">
				<h3 class="heading_text">Zarząd</h3>
			</div>
		</div>
		<div class="row management_list">
			<figure class="col-xs-2 management_item ac">
				<img src="img/section_management/01.jpg" alt="Jan Kowalski">
				<figcaption>
					<p class="item_text--name">Jan Kowalski</p>
					<p class="item_text">Wiceprezes</p>
				</figcaption>
			</figure>
			<figure class="col-xs-2 management_item">
				<img src="img/section_management/02.jpg" alt="Jan Kowalski">
				<figcaption>
					<p class="item_text--name">Jan Kowalski</p>
					<p class="item_text">Wiceprezes</p>
				</figcaption>
			</figure>
			<figure class="col-xs-2 management_item">
				<img src="img/section_management/03.jpg" alt="Anna Kowalska">
				<figcaption>
					<p class="item_text--name">Anna Kowalska</p>
					<p class="item_text">Prezes</p>
				</figcaption>
			</figure>
			<figure class="col-xs-2 management_item">
				<img src="img/section_management/04.jpg" alt="Anna Kowalska">
				<figcaption>
					<p class="item_text--name">Anna Kowalska</p>
					<p class="item_text">Prezes</p>
				</figcaption>
			</figure>
		</div>
		<div class="row management_info">
			<div class="col-xs-11 col-xs-offset-1">
				<div class="row info">
					<div class="col-xs-12 col-md-6 info_container">
						<div class="row">
							<div class="col-xs-8">
							<p class="info_text--name">Jan Kowalski</p>
								<p class="info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
								<p class="info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
							<div class="col-xs-4 info_text--right">
								<p class="info_text--cv">zobacz CV<span class="info_icon"><img src="img/icons/play.png" alt=""></span></p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-0 info_photo">
						<img src="img/section_management/01_big.jpg" alt="Jan Kowalski zdjęcie">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>