<section>
	<div class="container-fluid team" id="team">
		<div class="row team_container">
			<div class="col-xs-12 col-md-7 team_container--dark left">
				<div class="row">
					<div class="col-xs-1 col-xs-offset-1 pager">
					<ul class="col-xs-1 pager">
						<li class="pager_item"></li>
						<li class="pager_item ac">2</li>
						<li class="pager_item"></li>
						<li class="pager_item"></li>
						<li class="pager_item"></li>
						<li class="pager_item"></li>
					</ul>
					</div>
					<div class="col-xs-10">
						<div class="row team_heading">
							<h3 class="heading_text">Zespół</h3>
						</div>
						<div class="row team_desc">
							<p class="desc_text">Posiadamy kompetencje w zakresie billingu gazowego i energetycznego, obsługi klienta, regulacji i uwarunkowań na rynku energetycznym, standardów branżowych oraz w pełnym spektrum technologii – od warstwy sprzętowej, po warstwę aplikacyjną.</p>
						</div>
					</div>
				</div>
			</div>
			<div class=" col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-0 team_img">
				<img src="img/section_team/team.png" alt="">
			</div>
			<div class="col-xs-4 col-md-3 team_container--light right">
				<div class="row team_side">
					<h4 class="team_intheading">75 pracowników<br>
					w Warszawie i Gdańsku</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-5 col-md-push-7 right team_img--full">
				<img src="img/section_team/team_2.jpg" alt="">
			</div>
			<div class="col-xs-12 col-md-7 col-md-pull-5 team_container--light">
				<div class="row">
					<div class="col-xs-1 col-xs-offset-1 pager">
					</div>
					<div class="col-xs-10">
						<div class="row team_desc">
							<p class="desc_text">Część naszych konsultantów obecna jest na polskim rynku energetycznym od kilkunastu lat.</p>
							<p class="desc_text">W zespole pracują twórcy pierwszych systemów billingowych w Polsce.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-10 team_note">
				<div class="col-xs-10 col-md-6 col-md-offset-4">
					<p class="note_text">Posiadamy doświadczenie w pełnym zakresie cyklu życia projektu <span class="note_text--strong">architektura, design, implementacja, testy, utrzymanie</span> oraz pracy z dużymi koncernami i organizacjami.</p>
				</div>
				<div class="col-xs-2 col-md-1">
					<img src="img/icons/shield.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>