.header {
	height: auto;
}

.logo {
	height: auto;
	background-color: $acc1;
	display: none;
	align-items: end;
	position: relative;
	z-index: 1;
	box-shadow: 10px -15px 20px 10px rgba(0, 0, 0, 0.5);

	&_container {
		margin: 0 -15px 20% -15px;
	}
}

.slider {
	height: 100%;
	padding: 0;
	overflow: hidden;

	&_text {
		position: absolute;
		top: 0%;
		z-index: 3;
		height: calc(100% - 15px);
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		text-align: right;
		padding: 10%;
	}

	&_heading {
		color: $basic-lt;
		font-size: 3.5rem;
		font-weight: bold;
		position: relative;

		&--accent {
			color: inherit;
			font-weight: inherit;
			font-size: inherit;
			text-transform: uppercase;
		}

		&::after {
			content: "";
			position: absolute;
			left: calc(-10% - 15px);
			top: 100%;
			width: 50vw;
			height: 1px;
			background-color: $basic-lt;
		}
	}

	&_desc {
		color: $basic-lt;
		font-weight: normal;
		font-size: 3rem;
	}

	&_container {
		width: 400%;
		height: 100%;
		position: relative;
		top: -15px;
		overflow: hidden;
		animation: 12s slide infinite;

		@keyframes slide {
			0% { left: 0%;}
			30% { left: 0%;}
			35% { left: -100%;}
			60% { left: -100%;}
			65% { left: -200%;}
			95% { left: -200%;}
			100% { left: -300%;}
		}
	}

	&::before {
			content: "";
			width: 100%;
			height: calc(100% - 15px);
			position: absolute;
			top: 0;
			left: 0;
			background-color: $basic-dk;
			background: linear-gradient(to left top, $acc1 0%, $basic-dk 100%);
			z-index: 2;
			opacity: 0.7;
		}

		&::after {
			content: "";
			width: 100%;
			height: calc(100% - 15px);
			position: absolute;
			top: 0;
			left: 0;
			background-color: $basic-dk;
			background: linear-gradient(to bottom, fade_out($basic-lt, 1) 90%, $acc1 100%);
			z-index: 3;
		}

	&_item {
		height: 100%;
		width: 25%;
		float: left;
		object-fit: cover; 
	}
}


.arrow {
	&_container {
		position: absolute;
		top: 75%;
		left: 35%;

		&::after {
			content: "";
			position: absolute;
			top: calc(100% + 1rem);
			left: 50%;
			width: 1px;
			height: 200%;
			background-color: $basic-lt;
		}
	}

	&_button {
		max-width: 3.6rem;
		height: auto;
	}
}

@media screen and (min-width: 992px) {

	.header {
		height: 100vh;
	}

	.logo {
		display: flex;
		height: calc(100% - 15px);
	}
}