.main {
	background-color: $basic-lt;
	position: relative;
	top: -15px;
	padding: 0;
	margin: 0 -15px;
}

.heading_text {
	font-size: 3rem;
	color: $basic-lt;
	padding-left: 3rem;
	border-left: solid 10px $acc1;
}

.pager {
	position: relative;
	
	&_item {
		list-style-type: none;
		width: 1rem;
		height: 1rem;
		border: solid 1px $acc2;
		border-radius: 4rem;
		margin-top: 0.5rem;
	}

	& > .ac {
		border: solid 1px $acc1;
		text-align: center;
		color: $acc1;
		width: 3.5rem;
		height: 3.5rem;
		padding: 0.75rem;
		position: relative;
		margin-left: -1.25rem;
		cursor: pointer;
	}
}
