.navigation {
	position: absolute;
	top: 0;
	z-index: 4;
	width: 100vw;

	&_logo {
		margin: 1rem 0;
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		align-content: center;

		&_image {
			max-height: 4rem;
		}
	}

	&_menu {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		border-bottom: solid 1px fade_out($basic-lt, 0.5);
	}

	&_item {
		list-style-type: none;	
	}

	&_link {
		@extend %link-styling;
		display: block;
		color: fade_out($basic-lt, 0.2);
		transition: color 0.5s;
		margin: 1rem 1.5rem;

		&--lang {
			@extend %link-styling;
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			color: $basic-lt;
			transition: color 0.5s;
			margin: 1rem 0.25rem;

			&:active, &:hover, &:target {
				color: $acc3;
			}
		}

		&:active, &:hover, &:target {
			color: $basic-lt;
		}
	}
}

.moving {
	position: fixed;
	background: $acc1;
	transition: all 0.5s;
}
