.about {
	&_heading {
		@extend %section-heading;
		text-align: center;
		min-height: 75%;
	}
}

.tiles_container {

}

.tile {
	&_container {
		&--img {
			margin: 0 -15px;
			max-height: auto;
			overflow: hidden;
		}

		&--text {
			text-align: justify;
			text-align-last: left;
			margin: 0 -15px;
		}
	}

	&_img {
		filter: grayscale(100%);
	}

	&_text {
		font-size: 2rem;
		padding: 3rem;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.note {
	&_container {
		background-color: $acc1;
		padding: 3rem 1.5rem;
	}

	&_text {
		font-size: 2rem;
		color: $basic-lt;
		text-align: justify;
		text-align-last: left;
		margin: 0;

		&--strong {
			font-weight: bold;
			color: inherit;
			font-size: inherit;
		}
	}
}

@media screen and (min-width: 992px) {
	.about {
		&_heading {
			height: 37rem;
		}
	}

	.no-offset {
		margin-left: calc(8.3% - 15px);
	}

	.tile {
		&_container {
			&--img {
				max-height: 25rem;
				overflow: hidden;
			}
		}
	}

	.note_container {
		background-color: $acc1;
		width: 85vw;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
}