.career {
	&_container {
		display: flex;
		flex-flow: row wrap;
	}

	&_headings {
		background: $basic-dk;
		display: table;
	}

	&_desc {
		position: absolute;
		bottom: 0;
		padding: 1rem;
	}

	&_img {
		img {
			filter: brightness(0.6);
			margin: 0 -15px;
			height: 100%;
			object-fit: cover;
		}
	}

	&_text {
		color: $basic-lt;

		&--name {
			color: $basic-lt;
			font-family: "Ebrima Bold";
		}
	}
}

.midheading {
	margin-top: 5rem;
	margin-bottom: 5rem;

	&_text {
		color: $acc1;
	}

	&_desc {
		color: $basic-lt;
		width: 50%;
	}
}

.requirements {
	&_heading {
		margin-bottom: 0;
		font-family: "Ebrima Bold"; 
	}

	&_item {
		@extend .comp_item;
	}

	&_navi {
		@extend .comments_navi;
	}

	&_apply {
		@extend .comments_navi;
		margin-bottom: 5rem;
	}

	&_action {
		background: $basic-lt;
		padding: 0.5rem 8rem;
		border: solid 1px fade_out($basic-dk, 0.4);
	}
}

@media screen and (min-width: 992px) {
	.career {
		&_container {
			display: flex;
		flex-flow: row wrap;
		}

		&_img {
			position: absolute;
			left: 50%;
			align-self: end;

			img {
				height: auto;
				object-fit: unset;
			}
		}
	}
}