.comp {
	&_heading {
		padding-left: 4rem;
		background-color: $basic-dk;
		height: auto;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
	}

	&_list {
		display: flex;
		flex-flow: column wrap;
		max-height: 40rem;
		margin-top: 6rem;
	}

	&_item {
		list-style-type: none;
		max-width: 20rem;

		&::before {
			content: "\00b7";
			color: $acc1;
			position: relative;
			font-size: 1.5rem;
			font-weight: bold;
			left: -2rem;
		}
	}
}

.heading_img {
	text-align: center;
}

.comments {
	padding-top: 5rem;

	&_navi {
		text-align: center;
	}

	&_prev {
		margin: 0 1rem;

		img {
			transform: rotate(180deg);
		}
	}

	&_next {
		margin: 0 1rem;
	}

	&_container {
		margin-top: 5rem;
		display: flex;

		&--logo {
			border-left: solid 10px $basic-dk;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&--text {
			border-right: solid 10px $basic-dk;
			min-height: 18rem;
			padding-right: 10%;
		}
	}

	&_body {
		width: 100%;
		overflow: hidden;
		height: 15rem;

		&::after {
			content: "";
			width: calc(100% - 15px);
			height: 3rem;
			position: absolute;
			top: 12rem;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $basic-lt);
		}
	}

	&_text {
		font-family: "Myriad CondIt", sans-serif;
		font-size: 2rem;
		color: $acc2;
	}

	&_more {
		font-family: "Ebrima Bold";
		text-align: right;
		cursor: pointer;
	}
}

.inac {
	img {
		filter: grayscale(100%);
		opacity: 0.3;
		transition: all 0.5s;

		&:hover {
			filter: none;
			opacity: 1;
		} 
	}
}

.inview {
	height: auto;

	&::after {
		height: 0;
	}
}

@media screen and (min-width: 992px) {

	.heading_img {
		left: 50%;
		top: 1rem;
		position: relative;
	}

	.comp {
		&_heading {
			height: 50rem;
			flex-flow: column nowrap;
		}
	}
}