.contact {
	background: $basic-dk;
	border-bottom: solid 1px $acc3;

	&_data {
		display: flex;
		flex-flow: column nowrap;
	}

	&_logo {
		text-align: center;
		padding: 2rem;
		margin: 5rem 0 3rem;
	}

	&_form {
		position: static;
	}
}

.form {
	background: $basic-lt;
	display: flex;
	flex-flow: column nowrap;
	padding: 2rem;
	margin: 0 -15px;

	&_input {
		&--text, &--textar {
			margin: 1rem 0;
			padding: 0.5rem;
			border: solid 2px $acc2;

			&::placeholder {
				font-size: 0.9rem;
				color: $acc2;
				font-family: Ebrima;
			}
		}

		&--submit {
			background: $acc1;
			color: $basic-lt;
			font-family: Ebrima;
			font-size: 0.9rem;
			padding: 1rem 2rem;
			width: 50%;
			align-self: end;
			border: 0;
		}
	}
}

.data {
	text-align: center;
	padding: 5rem 0 5rem 2rem;
	border-bottom: solid 1px $acc3;

	&_name {
		color: $acc3;
		font-family: "Ebrima Bold";
	}

	&_text {
		color: $basic-lt;
	}
}

.map {
	padding-right: 0;

	img {
		object-fit: cover;
	}
}

@media screen and (min-width: 992px) {
	.contact {
		&_logo {
			text-align: left;
		}

		&_form {
			position: absolute;
			left: 40%;
			z-index: 1;

			&_input {
				&--submit {
					bottom: -3.5rem;
					margin-bottom: -3.5rem;
				}
			}
		}
	}

	.data {
		text-align: left;
	}

	.form {
		margin-top: 5rem;
		width: 100%;
	}

}