.management {
	padding-top: 10rem;

	&_heading {
		.heading_text {
			color: $basic-dk;
		}
	}

	&_list {
		display: flex;
		justify-content: right;
		margin-right: 10%;
	}

	&_item {
		img {
			filter: grayscale(100%);
			transition: filter 0.5s;
		}

		&:hover, &:focus {
			img {
				filter: grayscale(0%);
			}
		}
	}
}

.item {
	&_text {
		margin-top: 0;

		&--name {
			margin: 0 0 1rem;
			font-family: "Ebrima Bold";
			font-size: 2rem; 
		}
	}
}

.ac {
	img {
		filter: grayscale(0%);
	
		&:hover, &:focus {
			filter: grayscale(0%);
		}
	} 
}

.info {

	&_container {
		z-index: 0;

		.row {
			display: flex;
			height: 100%;
		}

		&::before {
			content: "";
			width: 99%;
			height: 99%;
			background-color: $basic-dk;
			background-image: url('../img/section_management/bg.jpg');
			background-size: cover;
			position: absolute;
			filter: blur(2px);
			z-index: -2;
		}

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background: $acc1;
			opacity: 0.6;
			z-index: -1;
			top: 0;
			left: 15px;
		}
	}

	&_text {
		color: $basic-lt;
		margin: 2rem 4rem;

		&--right {
			align-self: end;
		}

		&--name {
			color: $basic-lt;
			font-size: 2rem;
			font-family: "Ebrima Bold";
			margin: 2rem 4rem;
		}

		&--cv {
			color: $basic-lt;
			font-family: "Ebrima Bold";
			margin: 2rem;
		}
	}
}

@media screen and (min-width: 992px) {
	.info {
		display: flex;
	}
}