.team {
	width: 100vw;
	margin: 0;
	padding: 0;

	&_container {
		&--dark {
			background-color: $basic-dk;
		}

		&--light {
			background-color: $basic-lt;
		}
	}

	&_heading {
		padding-left: 4rem;
		margin: 2rem;
	}

	&_desc {
		margin: 4rem 8rem 4rem 4rem;
	}

	&_intheading {
		font-size: 2.4rem;
	}

	&_img {
		left: -5rem;

		&--full {
			margin-left: -15px;
			max-height: 50vh;
			overflow: hidden;

			img {
				width: 100%;
			}
		}
	}

	&_note {
		background-color: $acc1;
		padding: 3rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
}

.desc_text {
	color: $acc1;
	font-size: 2.4rem;
	text-align: justify;
	text-align-last: left;
}

@media screen and (min-width: 992px) {
	.team {
		&_container {
			display: flex;
			flex-flow: row nowrap;
			align-items: end;
		}

		&_intheading {
			margin-left: -25%;
		}

		.right {
			align-self: flex-start;
		}
	}
}